@import "tailwindcss";


:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

/* Définition explicite des polices */
body {
  font-family: var(--font-geist-sans);
}

code,
pre,
.font-mono {
  font-family: var(--font-geist-mono);
}

/* Vos autres styles existants */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}